* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Georgia',sans-serif;
    }
    body { 
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 105vh;
        background: #242e3a; /*color fondo*/
    }
    .container {
        position: relative;
        width: 56vw;
        height: 135vh;
        border-radius: 15px;
       /* box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3) ;*/
       border-radius: 15px;
    }
    .ingreso{
    margin: 25px 80px;
    padding: 90px 75px;
    border-top: 2px solid #eee;
    background: linear-gradient(rgb(147, 202, 103), #d5d4f5);
    max-width: 1500vh;
    max-height:135vh;
    }
    .titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    }
    .habitacion{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;   
    }
    .ingreso_input{
    margin-bottom: 35px;
    }
    .ingreso_input label{
    margin-top: 20px;
    display: block;
    font-size: 20px;
    }
    .ingreso_input input{
    width: 100%;
    border-radius: 10px;
    border-bottom: 2px solid;
    outline:none;
    font-size: 20px;
    text-align: center;
    }
    .ingreso_boton {
    font-weight: bold;
    width: 100%;
    border: none;
    background: rgb(10, 10, 10);
    }
    input[type="submit"] {
        padding: 25px;
        font-size: 20px;
        background-color:transparent;
        color: rgb(255, 251, 251);
      }
    .ingreso_boton:hover {
    background: rgb(179, 240, 67);
    transition: 0.5s;
    }
    .error{
    font-size: 14px;
    color: rgb(240, 18, 18);
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    }
    .mensajeafirmativo{
    text-align: center;
    font-weight: bold;
    }
    .titulos{
        
        padding: 20px;
        text-align: center;
        border-top: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
    }